{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div>
    <h2>Books</h2>
    <a href="{% url 'add_book' %}">Add book</a>
    <a href="{% url 'import_books' %}">Import books</a>
    <form method="GET">
        {{ filter.form|crispy }}
        <button type="submit">
            Search
        </button>
    </form>

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date published</th>
            <th>ISBN</th>
            <th>Pages count</th>
            <th>Cover link</th>
            <th>Language</th>
            <th>Edit</th>
        </tr>
        {% for book in object_list %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.published_date }}</td>
                <td>{{ book.ISBN }}</td>
                {% if book.Pages_count %}
                    <td>{{ book.Pages_count }}</td>
                {% else %}
                    <td> - </td>
                {% endif %}
                {% if not book.cover_link %}
                    <td>None</td>
                {% else %}
                    <td><a href="{{ book.cover_link }}">Book cover</a></td>
                {% endif %}
                <td>{{ book.language }}</td>
                <td><a href="{% url 'update_book' pk=book.id %}">Edit</a> </td>
            </tr>
        {% endfor %}
    </table>

</div>

{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
{% endif %}

{% endblock %}


