body {
    background-color: pink;
}

table {
    width: 400px;
}

th {
    text-align: left;
}

table, th, td {
    border: 1px solid darkslateblue;
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
}

th, td {
    padding: 20px;
}

td {
    text-align: center;
}

.test {
    color: rebeccapurple;
}
